body {
    background-color: #F5F5F5;
    font-family: Montserrat, Oswald, sans-serif;
}

.album-cover {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

/* Hero Image */

.hero {
    height: 100vh;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Hero Image Text */

.hero-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

.hero-text  h1 {
    font-family: Lora, Montserrat, Oswald, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
}

.hero-text p {
    font-family: Montserrat, Oswald, sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 1em;
}


.main-bg {
    background: none;
    color: white;
}

.alert {
    margin-bottom: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .hero {
        height: 50vh;
    }

    .hero-text {
        padding: 10px;
        padding-top: 60px;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 1.5em; 
    }

    .hero-text p {
        font-size: 0.5em;
    }
}


.detail-title {
    font-size: 50px;
    font-family: Lora, Montserrat, Oswald, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 10px;
}

.custom-div p {
    font-family: Montserrat, Oswald, sans-serif;
    font-style: italic;
    color: rgb(26, 26, 26);
}

.latest-review {
    font-family: Lora, Montserrat, Oswald, sans-serif;
    font-style: italic;
    padding-bottom: 50px;
}


.review-card .card-body {
    padding: 20px;
    font-family: Montserrat, Oswald, sans-serif;
    font-style: italic;
}


.navbar-brand {
    font-family: 'Lora';
    font-weight: bold;
    font-style: italic;
}

.review-item article {
    padding: 20px 10px 20px 10px;
    font-style: italic;
}

.review-item {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px; 
    margin-bottom: 20px; 
}

.review-item:last-child {
    border-bottom: none; 
}


/* Rating section */

.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li {
    color: orange;
}

.rating-list {
    display: inline-block;
    list-style: none;
}

.checked {
    color: orange;
}

/* End Rating section */