{% extends "base.html" %}
{% load static %}

{% block content %}

<h3 class="text-center latest-review">Latest Reviews</h3>
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        {% for album in album_list %}
        <div class="col mb-4 px-4">
            <div class="review-card h-100">
                <a href="{% url 'album_detail' pk=album.pk %}" class="album-link">
                    {% if "placeholder" in album.featured_image.url %}
                    <img src="{% static 'images/default_album_cover.jpg' %}" class="card-img-top" alt="Album Cover">
                    {% else %}
                    <img class="card-img-top" src="{{ album.featured_image.url }}" alt="{{ album.title }}">
                    {% endif %}
                </a>
                <div class="card-body custom-card-body">
                    <h5 class="card-title pb-3">{{ album.title }}</h5>
                    <p class="card-text">{{ album.artist }}</p>
                    <p class="card-text">{{ album.release_year }}</p>
                    <p class="card-text">{{ album.genre }}</p>
                    <p class="card-text">{{ album.created_on }}</p>
                    <p class="card-title">Avg rating:
                        <span class="fa fa-star {% if album.average_rating > 0 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if album.average_rating > 1 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if album.average_rating > 2 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if album.average_rating > 3 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if album.average_rating > 4 %} checked {% endif %}"></span>
                    </p>

                    <ul class="btn btn-light list-inline rating-list">
                        <li onclick="rate(5, '{{ album.id }}')">
                            <i class="fa fa-star {% if album.user_rating > 4 %} checked {% endif %}" title="Rate 5"></i>
                        </li>
                        <li onclick="rate(4, '{{ album.id }}')">
                            <i class="fa fa-star {% if album.user_rating > 3 %} checked {% endif %}" title="Rate 4"></i>
                        </li>
                        <li onclick="rate(3, '{{ album.id }}')">
                            <i class="fa fa-star {% if album.user_rating > 2 %} checked {% endif %}" title="Rate 3"></i>
                        </li>
                        <li onclick="rate(2, '{{ album.id }}')">
                            <i class="fa fa-star {% if album.user_rating > 1 %} checked {% endif %}" title="Rate 2"></i>
                        </li>
                        <li onclick="rate(1, '{{ album.id }}')">
                            <i class="fa fa-star {% if album.user_rating > 0 %} checked {% endif %}" title="Rate 1"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Previous</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<script>
    const rate = (rating, album_id) => {
        fetch(`/rate/${album_id}/${rating}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(rest => {
            window.location.reload();
        })
    }
</script>

{% endblock %}